.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  color: #d3d2d2;
  color: #291950;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.right.carousel-control, .left.carousel-control  {
  display: none impo; 
}

.wrapper {
  margin: 5rem auto  25.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 5px solid saddlebrown; */
}
/* .carousel .carousel-control { visibility: hidden; } */

/* .carousel {
  height: 350px !important;
 
  border: 5px solid red;
} */